
.columns-layout {
    background:none;
    .columns {
        align-items: center;
        @include respond(desktop-lg) {
            align-items: flex-start;
        }
        &.column-align-top {
            align-items: flex-start !important;
        }
        &.column-align-bottom {
            align-items: flex-end !important;
        }
        &.column-align-center {
            align-items: center !important;
        }
        h2 {
            margin-bottom: 30px;
            line-height: 105%;
        }

        .column-full {
            h2 {
                text-align: center;
            }
        }

        .column-50 {
            img {
                width: 100%;
            }
        }

        .column-33 {
            iframe {
                width: 100%;
                height: 300px;
            }
        }
    }
    

    &.three-column {
        .container {
            .columns  {
                align-items: flex-start;
                padding: 40px;
                box-sizing: border-box;
                background: $white;
            }
        }
    }

    &.full-left,
    &.full-right {
        padding:0;
        background-color: $white;
        .columns {
            align-items: normal;

            .column-25 { width:25%; }
            .column-33 { width:33.33%; }
            .column-50 { width:50%; }
            .column-66 { width:66.67%; }
            .column-75 { width:75%; }

            .column-25,
            .column-33,
            .column-50,
            .column-66,
            .column-75 {
                padding:7%;
                box-sizing: border-box;

                @include respond(tab-port) {
                    width: 100%;
                }
            }

            .left-image {
                padding:0 !important;
                background-size: cover;
                background-position: center;

                @include respond(tab-port) {
                    height:350px;
                }
            }

            .right-image {
                padding:0 !important;
                background-size: cover;
                background-position: center;

                @include respond(tab-port) {
                    height:350px;
                }
            }
        }
        
    }

    &.contained-pad {
        .columns {
            box-sizing: border-box;
            padding:50px;
            background:$white;
            align-items: flex-start;
        }
    }
}
