.map-block {
    background: $white;
    padding: 30px !important;
    box-shadow: 0px 0px 24px #00000029;
    &#map-left {
        .container {
            .columns {
                align-items: normal;
                background:$white;
                border-radius: 10px;
                padding: 50px;
                box-sizing: border-box;
                flex-wrap: nowrap;

                @include respond(phone) {
                    padding:20px;
                }
    
                @include respond(tab-port) {
                    flex-wrap: wrap;
                }
    
                .column-25 {
                    flex-direction: column;
                    justify-content: center;
                    width: 25%;
                    min-width: 300px;
                    margin-right: 50px;
    
                    @include respond(tab-port) {
                        width: 100%;
                        margin-right: 0;
                        margin-bottom: 50px;
                    }

                    @include respond(phone) {
                        min-width: auto;
                    }
                    
                    iframe {
                        width: 100%;
                        height: 100%;
                        min-height: 300px;
                    }
                }
    
                .column-75 {
                    flex-direction: column;
                    justify-content: center;
                    width: auto;
                }
            }
        }
    }
    &#map-slim {
        .columns {
            padding: 0;
            align-items: normal;
            width: 80%;
            background:$white;
            margin:0 auto;

            @include respond(tab-land) {
                width: 100%;
            }

            .column-50 {
                width: 50%;

                @include respond(tab-port) {
                    width: 100%;
                }

                &.address {
                    padding: 40px;

                    p.directions {
                        margin-bottom: 0;
                        
                        a {
                            color:inherit;
                            text-decoration: underline;
                            font-weight: bold;
                        }
                    }
                }

                iframe {
                    width: 100%;
                    height: 100%;

                    @include respond(tab-land) {
                        height:250px;
                    }
                }
            }
        }
    }

    &#map-right {
        .columns {
            align-items: normal;
            
            .column-66 {
                width:55%;
                flex-direction: column;

                @include respond(tab-port) {
                    width:100%;
                }

                p.subhead {
                    color:#226CE0;
                    font-weight: bold;
                    font-size: 22px;
                    margin-top: 10px;
                }

                .contact-blocks {
                    display: flex;
                    align-items: flex-start;
                    justify-content: flex-start;

                    @include respond(phone) {
                        flex-wrap: wrap;
                    }

                    div {
                        margin-left: 30px;
                        position: relative;
                        
                        p {
                            margin-bottom: 0;
                        }

                        &.phone-block {
                            margin-right: 25%;

                            @include respond(phone) {
                                width:100%;
                                margin-bottom: 20px;
                            }

                            &::before {
                                position: absolute;
                                content: "\e90b";
                                font-family: $icomoon;
                                color: #226CE0;
                                left: -30px;
                                font-size: 20px;
                                top:3px
                            }
                        }

                        &.address-block {
                            @include respond(phone) {
                                width:100%;
                                margin-bottom: 30px;
                            }
                            
                            &::before {
                                position: absolute;
                                content: "\e90c";
                                font-family: $icomoon;
                                color: #226CE0;
                                left: -30px;
                                font-size: 24px;
                                top:1px
                            }
                        }
                    }
                }
            }

            .column-33 {
                width:40%;

                @include respond(tab-port) {
                    width:100%;
                }

                iframe {
                    width: 100%;
                    height: 100%;

                    @include respond(tab-land) {
                        height:250px;
                    }
                }
            }
        }
    }
    &#map-single {
        .responsive-iframe {
            margin-bottom: 30px;
        }
        .btn-cta {
            margin-top: 30px !important;
            margin-bottom: 15px !important;
        }
        p {
            margin-bottom: 0 !important;
        }
    }
}