.related-resources {
    padding-top: 0 !important; 
    background: none;

    .subtitle {
        text-transform: uppercase;
        margin-bottom: 15px !important;
    }

    .btn {
        margin: 0 auto;
        display: flex;
    }

    .resources {
        display: flex;
        flex-direction: column;
        align-items: normal;
        justify-content: space-between;
        gap: 1%;
        .resource {
            background: $white;
            padding:0;
            box-sizing: border-box;
            transition: $trans;
            position: relative;
            margin-bottom: 10px;
            display: flex;
            align-items: center;
            &:hover {
                .resource-copy {
                    text-decoration: underline !important;
                }
                .arrow-icon {
                    &:before {
                        transform: rotate(45deg);
                        background: $red;
                    }
                }
            }
            .arrow-icon {
                position: absolute;
                right: 20px;
                top: 18px;
            }
            .resource-link {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
            .resource-title {
                font-weight: $bold;
            }
            .resource-copy {
                padding: 20px 45px 20px 20px;
                width: 100%;
                .resource-title {
                    margin: 0 !important;
                }
                .link-button {
                    position: absolute;
                    bottom: 35px;
                    right: 35px;
                    display: flex;
                    align-items: center;
                    color:#001242;
                    text-decoration: none;
                    font-family: $sans;
                    font-size: 16px;
                    font-weight: bold;
                    .text {
                        text-decoration: underline;
                    }
                }
            }
            
            &:hover {
                box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.15);
            }
        }
    }

}