.numbered-columns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 60px 0;
    @include respond(tab-land) {
        grid-template-columns: 1fr;
    }
    .numbered-column {
        padding: 50px;
        background: $white;
        @include respond(desktop) {
            padding: 50px 25px;
        }
        .content {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: center;
            .number {
                background: $red;
                color: $white;
                font-size: 2rem;
                font-weight: bold;
                border-radius: 50%;
                padding: 5px;
                width: 30px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 30px;
            }
        }
    }
}