.tabbed-content {
    background: none;
    @include respond(phone) {
        padding: 0 !important;
    }
    a.btn {
        margin: 0;
    }

    .column-75 {
        @include respond(desktop) {
            width: 100%;
        }
    }
    
    .tabs_wrapper {
        width:100%;
        text-align: center;
        margin: 0 auto;
        background: transparent;
        font-family: arial;
        display: flex;
        flex-wrap: wrap;
        
        ul.tabs {
            display: inline-flex;
            vertical-align: top;
            position: relative;
            z-index: 10;
            margin: 25px 0 0 !important;
            padding: 0;
            width: 100%;
            list-style: none;
            display: flex;
            justify-content: center;
            gap: 20px;
            @include respond(phone) {
                display: block;
                width: 100%;
            }
            
            li {
                cursor: pointer;
                text-align: left;
                font-weight: bold;
                margin: 0;
                padding: 0;
                list-style: none;
                color: $white;
                font-size: 18px;
                display: block;
                padding: 20px 45px;
                color: $dk-grey;
                text-transform: none;
                background: none;
                position: relative;
                font-family: $sans;
                border-radius: 42px;
                border: solid 1px $dk-grey;
                text-align: center !important;
                &:hover {
                    transition: all 0.3s ease;
                    background-color: $dk-grey;
                    color:$white;
                    @include respond(phone) {
                        background-color: none !important;
                        color: $dk-grey !important;
                    }
                }
                
                &.tab-active {
                    color: $white;
                    transition: all 0.3s ease;
                    background-color:$dk-grey;
                }
                
                span {
                    display: block;
                    text-transform: none;
                    font-size: 14px;
                    font-weight: normal;
                }
            }
        }
    }
    
    
    .tab_container {
        display: inline-block;
        vertical-align: top;
        position: relative;
        width: 100%;
        text-align: left;
        background: none;
        
        .tab_drawer_heading {
            display: none;
        }
        
        .tab_content {
            height: -webkit-fit-content;
            height: -moz-fit-content;
            height: fit-content;
            display: none;
            padding: 60px 0px !important;
            text-align: justify;
            @include respond(tab-port) {
                padding: 0 !important;
            }
            .tab-contents {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 50px;

                @include respond(phone) {
                    flex-wrap: wrap;
                }

                .tab-image {
                    max-width: 20%;
                    width: 100%;

                    @include respond(phone) {
                        max-width: 100%;
                        text-align: center;
                    }

                    img {
                        max-width: 100%;
                        height: auto;
                    }
                }

                .tab-copy {
                    text-align: left;
                    
                    p {
                        &.tab-header {
                            font-size: 4.2rem !important;
                            font-weight: $black;
                            line-height: 67px !important;
                        }
                        &.tab-headline {
                            font-size: 30px;
                            color: #226CE0;
                            font-weight: bold;
                        }

                        a {
                            color:inherit;
                            text-decoration: underline;

                            &:hover {
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
    }
    
    @media screen and (max-width: 769px) {
        ul.tabs {
            display: none;
        }
        .tab_container {
            display: block;
            margin: 0 auto;
            width: 100%;
            border-radius: 0;
        }
        
        .tab_content { border: 0; }
        .tab_drawer_heading {
            background-color: #eee;
            background: #eee;
            color: #333;
            margin: 0 0 2px 0;
            padding: 5px 20px;
            display: block;
            cursor: pointer;
            text-transform: none;
            font-size: 18px;
            font-weight: bold;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            text-align: center;
        }
            .tab_drawer_heading:hover {
            background: #ccc;
            color: white;
        }
        .d_active {
            background: #f10102;
            background: #f10102;
            color: #fff;
        }
    }
      
}