.page-template-front-page {
    #front-page {
        padding-bottom: 0 !important;
    }
    #banner {
        padding-top: 100px;
        background: $grey;
        position: relative;
        min-height: 400px;
        @include respond(tab-land) {
            padding-top: 60px !important;
        }
        .mobile-review-container {
            display: none;
            margin: 0 auto;
            @include respond(tab-land) {
                display: block;
            }
            @include respond(phone) {
                width: 100%;
            }
        }
        .mobile-banner-img {
            display: none;
            width: fit-content;
            height: auto;
            margin: 0 auto;
            overflow: hidden;
            @include respond(tab-land) {
                display: block;
                margin-bottom: 140px;
            }
            @include respond(phone) {
                margin-bottom: 70px !important;
            }
            img {
                @include respond(phone) {
                    height: auto;
                    width: auto;
                    object-fit: cover;
                }
                
            }
        }    
        .column-50 {
            @media screen and (min-width: 1700px ) {
                width: 80%;
                left: -10%;
                margin-top: 50px;
            }
            @media screen and (max-width: 1699px) {
                width: 45%;
                left: 0;
            }
            @include respond(tab-land) {
                width: 100%;
                margin-bottom: 30px;
                margin-top: 0px;
            }
        }
        
        h1 {
            font-family: $serif !important;
            text-transform: uppercase;
            font-weight: $light !important;
            letter-spacing: 4px;
            margin-bottom: 20px;
            font-size: 1.8rem !important;
            color: $blk !important;
        }
        .subtitle {
            font-size: 6rem !important;
            font-weight: $black !important;
            line-height: 100% !important;
            font-family: $sans !important;
            text-transform: capitalize !important;
            @include respond(desktop) {
                font-size: 5rem !important;
            }
        
            @include respond(phone) {
                font-size: 4rem !important;
            }
        }
        .desktop-banner-img {
            height: 180%;
            width: auto;
            position: absolute;
            right: 0;
            top: -18px;
            @include respond(tab-land) {
                display: none;
            }
            img {
                width: auto;
                height: 100%;
                max-height: 900px;
                object-fit: contain;
                position: absolute;
                top: 0;
                right: 0;
                @include respond(desktop-lg) {
                    object-fit: cover;
                    object-position: 125px;
                }
                @include respond(desktop) {
                    object-position: 195px;
                }
            }
            &.reverse {
                img {
                    transform: scaleX(-1);
                    object-position: -100px;
                    @include respond(desktop-lg) {
                        object-position: -200px;
                    }
                    @include respond(desktop) {
                        object-position: -200px;
                    }
                }
            }
        }
        .reviews-box-outer {
            position: absolute;
            bottom: -250px;
            left: 0;
            width: fit-content;
            width: -webkit-fit-content;
            width: -moz-fit-content;
            @include respond(tab-land) {
                position: relative;
                bottom: 0;
                left: 0;
                margin-top: 60px;
            }
            @include respond(phone) {
                width: 100%;
            }
            &.banner-desktop-review {
                @include respond(tab-land) {
                    display: none;
                }
            }
            &.banner-mobile-review {
                display: none;
                margin-top: 0 !important;
                margin-bottom: 60px !important;
                @include respond(tab-land) {
                    display: block;
                }
            }
            .reviews-link {
                display: block;
                text-align: center;
                text-transform: uppercase;
                font-weight: $black !important;
                font-size: 1.4rem !important;
                margin-bottom: 0 !important;
                margin-top: 10px;
            }
            .reviews-box {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 30px;
                padding: 20px 30px;
                background: $white;
                width: fit-content;

                @include respond(phone) {
                    flex-direction: column;
                    width: calc(100% - 60px);
                    gap: 15px;
                }

                .img-wrap {
                    img {
                        max-width: 120px;
                        object-fit: contain;
                    }
                }

                .vertical-spacer {
                    width: 1px;
                    height: 75px;
                    background: $blk;

                    @include respond(phone) {
                        width: 100%;
                        height: 1px;
                    }
                }

                .rating-wrap {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;

                    @include respond(phone) {
                        align-items: center;
                    }

                    p.rating {
                        font-size: 1.8rem !important;
                        font-family: $sans !important;
                        font-weight: $black !important;
                        margin-bottom: 10px !important;

                        @include respond(phone) {
                            text-align: center;
                        }
                    }

                    .stars {
                        &:after {
                            color: $blue !important;
                        }
                    }
                } 
            }
        }
    }
}