header {
    position: fixed;
    top:0;
    width: 100%;
    z-index: 50;
    display:flex;
    height:115px;
    transition: $trans;
    
    #header-top {
        display: flex;
        justify-content: space-between;
        max-width: 100%;
        width: 100%;
        align-items: center;
        padding: 0 20px;
        background: $dk-grey !important;
        &_left {
            display: flex;
            width: 15% !important;
            justify-content: flex-start;

            .custom-logo-link {
                width: 100%;
                height: auto;
                display:flex;

                .custom-logo {
                    max-height: 70px !important;
                    max-width: fit-content;
                    max-width: -webkit-fit-content;
                    max-width: -moz-fit-content;
                    width: 100%;
                    @include respond(tab-land) {
                        min-width: 200px !important;
                    }

                    @include respond(phone) {
                        max-width: 250px;
                    }
                }
            }
            
            @include respond(tab-land) {
                width: 100%;
            }
        }
        &_right {
            .menu {
                li {
                    a {
                        font-family: $sans;
                        text-transform: uppercase;
                        font-size: 1.5rem !important;
                        text-decoration: none !important;
                        &:before {

                        }
                    }
                    &:hover {
                        a {
                            &:before {
                                background: $white !important;
                                height: 4px !important;
                                left: 0 !important;
                                right: 0 !important;
                                bottom: 25px !important;
                            }
                        }
                    }
                    &.nav-btn {
                        transition: $trans;
                        background: $red;
                        border: solid 2px $red;
                        padding: 0 !important;
                        @include respond(tab-land) {
                            width: fit-content !important;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin: 30px 0 !important;
                            position: relative !important;
                            left: 40px !important;
                            a {
                                margin: 0 !important;
                            }
                        }
                        a {
                            width: fit-content;
                            margin: 0 !important;
                            display: block;
                            color: $white;
                            font-weight: $bold;
                            padding: 12px 15px !important;
                            font-size: 1.4rem !important;
                            @include respond(desktop-lg) {
                                font-size: 1.2rem !important;
                            }
                            @include respond(desktop) {
                                padding: 8px !important;
                            }
                        }
                        &:hover {
                            background: $white;
                            a {
                                color: $red !important;
                                text-decoration: none !important;
                                &:before {
                                    display: none !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}