// Breakpoints
$desktop-full: 1920px;
$desktop-lg: 1400px;
$desktop: 1200px;
$tab-land: 1024px;
$tab-port: 820px;
$phone: 600px;

// Containers
$container-max-width: $desktop-lg;
$container-padding: 30px;

// Transitions
$transition-speed: .3s;
$transition-fast: .3s ease-in-ease-out;
$transition-slow: .5s ease-in-ease-out;

// Core Colors
$blk: #000000;
$white: #FFFFFF;
$red: #C81D25;
$blue: #3772FF;
$dk-grey: #292929;
$md-grey: #707070;
$grey: #EFEFEF;
$lt-grey: #f7f7f7;

$link-transition-speed: .15s;
$trans: 0.2s linear;

@font-face {
    font-family: "Icomoon";
    src: url('/wp-content/themes/crest-child/assets/fonts/icomoon/icomoon.woff2') format('woff2'),
}

@font-face {
    font-family: "Red Hat Display";
    src: url('/wp-content/themes/crest-child/assets/fonts/redhatdisplay/RedHatDisplay-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Red Hat Display";
    src: url('/wp-content/themes/crest-child/assets/fonts/redhatdisplay/RedHatDisplay-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Red Hat Display";
    src: url('/wp-content/themes/crest-child/assets/fonts/redhatdisplay/RedHatDisplay-Black.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Red Hat Display";
    src: url('/wp-content/themes/crest-child/assets/fonts/redhatdisplay/RedHatDisplay-BlackItalic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Red Hat Display";
    src: url('/wp-content/themes/crest-child/assets/fonts/redhatdisplay/RedHatDisplay-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Red Hat Display";
    src: url('/wp-content/themes/crest-child/assets/fonts/redhatdisplay/RedHatDisplay-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Red Hat Display";
    src: url('/wp-content/themes/crest-child/assets/fonts/redhatdisplay/RedHatDisplay-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Red Hat Display";
    src: url('/wp-content/themes/crest-child/assets/fonts/redhatdisplay/RedHatDisplay-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Red Hat Display";
    src: url('/wp-content/themes/crest-child/assets/fonts/redhatdisplay/RedHatDisplay-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Red Hat Display";
    src: url('/wp-content/themes/crest-child/assets/fonts/redhatdisplay/RedHatDisplay-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "PT Serif";
    src: url('/wp-content/themes/crest-child/assets/fonts/ptserif/PTSerif-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "PT Serif";
    src: url('/wp-content/themes/crest-child/assets/fonts/ptserif/PTSerif-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "PT Serif";
    src: url('/wp-content/themes/crest-child/assets/fonts/ptserif/PTSerif-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "PT Serif";
    src: url('/wp-content/themes/crest-child/assets/fonts/ptserif/PTSerif-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}



// Typography
$sans: 'Red Hat Display', sans-serif;
$serif: 'PT Serif', serif;
$icomoon: 'Icomoon';

$body-line-height: 130%;

// Font Weight
$light: 100;
$normal: 400;
$bold: 700;
$black: 800;