.column-full > div.wp-block-group {
    padding: 0 !important;
    max-width: 100% !important;
}

.wp-block-group {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 60px;
    margin-bottom: 140px !important;
    @include respond(tab-port) {
        margin-bottom: 120px !important;
    }
    @include respond(phone) {
        padding: 0 30px;
        margin-bottom: 80px !important;
    }
    &:last-of-type {
        margin-bottom: 0 !important;
    }
    &.align-edge {
        position: relative;
    }
    &.desktop-padding-0 {
        padding: 0 !important;
    }
    &.margin-bottom-0 {
        margin-bottom: 0 !important;
    }
    &.padding-top-0 {
        padding-top: 0 !important;
    }
    &.padding-bottom-0 {
        padding-bottom: 0 !important;
    }
    &.section-wide {
        padding: 0 !important;
        max-width: 1800px;
        @include respond(desktop-lg) {
            padding: 0 30px !important;
        }
    }
    &.copy-wrapper {
        max-width: calc(60% + 120px);
        margin: 0 auto;
        @include respond(desktop) {
            max-width: 80%;
        }
        @include respond(tab-port) {
            max-width: 100%;
        }
    }
    &.has-white-background-color {
        max-width: 100%;
        padding: 80px 0;
        .wp-block-group__inner-container {
            padding: 0 60px;
            max-width: 1400px;
            margin: 0 auto;
            @include respond(phone) {
                padding: 0;
            }
        }
        &.copy-wrapper {
            .wp-block-group__inner-container {
                max-width: 60%;
                margin: 0 auto;
            
                @include respond(desktop) {
                    max-width: 80%;
                }
            
                @include respond(tab-port) {
                    max-width: 100%;
                }
            }
        }
        &:not(.section-wide) {
            @include respond(phone) {
                padding: 30px 30px !important;
            }
        }
        &.section-wide {
            padding: 80px 0 !important;
            @include respond(tab-land) {
                padding: 80px 60px !important;
            }
            @include respond(phone) {
                padding: 80px 30px !important;
            }
            .wp-block-group__inner-container {
                max-width: 1800px;
                padding: 0;
            }
        }
    }
    &.full-width {
        max-width: 100%;
        margin-left: 0 !important;
        margin-right: 0 !important;
        &:not(.no-bg-color) {
            background: linear-gradient(90deg, rgba(255, 255, 255, 0) 35%, rgb(41, 41, 41) 53%) !important;
        }
        &.align-edge.desktop-padding-0.has-background {
            @include respond(tab-land) {
                background: $dk-grey !important;
            }
            
        }
    }
    .wp-block-columns {
        @include respond(tab-land) {
            flex-direction: column;
    
            .wp-block-column {
                width: 100%;
            }
        }
        &.align-center {
            align-items: center !important;
        }
    
        &.justify-center {
            justify-content: center !important;
        }
    
        &.justify-between {
            justify-content: space-between !important;
        }
    
        &.align-stretch {
            align-items: stretch !important;
        }
        &.mobile-gap-0 {
            @include respond(tab-land) {
                gap: 0 !important;
            }
        }
    }
}

.wp-block-column {
    &.overlay-front {
        &>* {
            position: relative !important;
            z-index: 2 !important;
        }
    }
    &.overlay-behind {
        position: relative !important;
        z-index: -1 !important;
        @include respond(tab-land) {
            z-index: 1 !important;
            background: $dk-grey;
        }
        @include respond(tab-land) {
            max-height: 400px;
        }
    }
    &.space-left {
        margin-left: 250px;
        @include respond(desktop) {
            width: auto !important;
            margin-left: 0;
            padding: 0 60px;
        }
        @include respond(phone) {
            padding: 0 30px;
        }
    }
    &.offset-right {
        position: relative;
        right: 8vw;
        padding: 30px 0;
        @include respond(tab-land) {
            right: 0;
            padding: 0 60px 60px 60px;
            width: auto !important;
            .wp-block-spacer {
                display: none;
            }
        }
        @include respond(phone) {
            padding: 0 30px 30px 30px;
        }
    }
    &.align-center-vertical {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.wp-block-image {
    &.image-full {
        margin: 0 !important;
        height: 100%;
       img {
            height: 100%;
            width: auto;
            max-height: 950px;
            object-fit: cover;
            object-position: top;
            @include respond(tab-land) {
                width: 100%;
                height: 400px;
            }
            @include respond(phone) {
                height: 250px;
            }
       }
    }
    &.extra-wide-img {
        width: 130% !important;
        @include respond(tab-land) {
            width: 100% !important;
            img {
                width: 100% !important;
            }
        }
    }
    &.align-left-edge {
        position: absolute;
        top: 0;
        right: calc(50vw - 700px);
        height: 700px;
        width: 100%;
        @include respond(desktop-lg) {
            right: unset;
            left: 0;
        }
        @include respond(tab-land) {
            position: relative;
            margin: 0 auto;
            left: unset;
        }
        @include respond(phone) {
            left: -60px;
            width: calc(100% + 120px);
        }
    }
    &.position-top {
        img {
            object-position: top;
        }
    }
}

.absolute-img-spacer {
    @include respond(desktop) {
        display: none;
    }
}

.desktop-image {
    @include respond(desktop) {
        display: none;
    }
}

.mobile-image {
    display: none;
    padding: 0 60px;
    img {
        height: 600px;
        object-fit: contain;
        @include respond(phone) {
            height: auto !important;
        }
    }
    @include respond(desktop) {
        display: block;
    }
    @include respond(phone) {
        padding: 0 !important;
        height: auto !important;
    }
}

.desktop-banner-spacer {
    @include respond(tab-land) {
        display: none;
    }
}

.has-text-color {
    h1, h2, h3, p, a, li {
        color: $white !important;
    }
}

.wp-block-separator {
    width: 50%;
    border-top: solid 12px $dk-grey;
    margin: 20px 0;
}

