
@import 'variables';
@import 'mixins';
@import 'fonts';
@import 'pages';
@import 'header-new';
@import 'main-navigation-desktop';
@import 'main-navigation-mobile';
@import 'global';
@import 'footer';
@import 'wp-blocks';
@import 'frontpage';
@import 'banners';
@import '../../blocks/assets/sass/video-block';
@import '../../blocks/assets/sass/testimonials';